@use '../../../Sass/variables' as *;

.profileMenu {
  position: relative;
}

.profile-icon-container {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  background-color: rgba($black, .5);
  border-radius: 50%;

  .profile-icon {
    color: $contrast-pink;
    width: 2.6rem;
    height: 2.6rem;
  }
}