@use '../../../Sass/variables' as *;

.rating {

  padding:0.2rem;
  width:5rem;
  padding: 5px;
  height:1.8rem;
  padding-top: 3px;
  text-align: center;
  display:flex;
  justify-content: space-between;
  align-items:center;
  color:purple;

  &--bad{
    color:rgb(136, 13, 13);
  }
  &--average{
    color:rgb(184, 120, 0)
  } 
  &--good{
    color:rgb(144, 144, 64)
  }
  &--very-good{
    color:rgb(96, 168, 20)
  }
  &--excelent{
    color:rgb(16, 213, 111);
  }

  &__points{
    margin-right: 2px;
    // margin-top: 1px;
    font-size: 1rem;
  }
  &__star{
    height: 1rem;
  }
}
