@use '../../../Sass/media-queries' as *;

.last-review-item {
    position: relative;
    display: flex;
    max-height: 115px;
    column-gap: 9px;

    @include tablet {
        gap: 20px;
    }

    &_rating {
        position: absolute;
        right: 0;
        border: 1px solid #CB33B3;
        border-radius: 4px;
    }

    &_poster {
        max-width: 85px;
        object-fit: cover;
        border-radius: 4px;
    }

    &_info {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        row-gap: 6px;

        &_review {
            height: 70%;
            overflow: hidden;

            &_title {
                font-size: 1.7rem;
                width: 70%;
            }

            &_opinion {
                padding-top: 10px;
                font-size: 1.3rem;
                font-weight: 300;
            }
        }

        &_data {
            justify-content: space-between;
            &_user {
                column-gap: 9px;
                font-size: 1.3rem;

                img {
                    width: 25px;
                    height: 25px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            &_date {
                font-size: 1.2rem;
                font-weight: 300;
                
                @include tablet {
                    display: none;
                }
            }
        }

        &_data,
        &_data_user {
            display: flex;
            align-items: center;
        }
    }
}