.session-panel{
  position: absolute;
  right: 10px;
  background-color: rgba(111, 105, 105, .5);
  padding: 10px;
  border-radius: 8px;
  width: max-content;
  .session-panel__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}