@use '../../../Sass/media-queries' as *;

#manga-section {
    width: 95%;
    margin: 120px auto 0;
    display: flex;
    column-gap: 50px;

    @include tablet {
        flex-direction: column-reverse;
    }

    .manga-section__container {
        width: 75%;

        @include tablet {
            width: 90vw;
            margin: 0 auto;
        }

        .catalog-search {
            margin-bottom: 15px;
        }
    }

    .manga-section__aside {
        width: 28%;

        @include tablet {
            margin: 0 auto;
            width: 90vw;
        }
        
        aside {
            margin-bottom: 60px;

            @include tablet {
                margin-bottom: 20px;
            }
        }
    }
}