@use '../../../Sass/variables' as *;

.footer {
  margin-top: 4rem;
  align-self: flex-end;
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to bottom right, rgba(135, 24, 130, 0.09), rgba(255, 0, 245, 0.09)) ;
  .footer__title {
    font-weight: bold;
    font-size: 2rem;
  }
  .footer__nav {
    width: 100%;
    display: grid;
    place-items: center;
    .footer__list {
      display: flex;
      width: clamp(300px, 90%, 1400px);
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 1rem;
      .footer__item > *{
        margin: 1rem;
        color: $white;
      }
    }
  }
  .footer_note {
    text-align: center;
  }
}