@use '../../../Sass/variables' as *;

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 0 4rem;

    &__header {
        align-self: flex-start;
    }

    &-title {
        position: absolute;
        top: 30px;
        font-size: 2.5rem;

        &__shadow {
            position: relative;
            left: -20px;
            font-size: 8rem;
            color: rgba(black, 0);
            -webkit-text-stroke: 1px rgba($contrast-pink, .5);
            // opacity: .5;
        }
    }

    &__content-container {
        display: grid;
        place-items: center;
        width: 100%;
        height: fit-content;
    }
}