@use '../../../Sass/variables' as *;

.anime-card{
    position:relative;
    height: clamp(180px,30vw,250px);
    border-radius: 10px;
    display: block;

    &:hover &__title {
        font-size: 1.9rem;
    }
    
    &__link{
        display:block;
        height: 100%;
        width: 100%;
    }


    &__rating {
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: $white;
        border-radius: 5px;
    }

    &__title {
        color: $white;
        font-size: 1.8rem;
        position: absolute;
        bottom: 0px;
        padding: 10px;
        overflow: hidden;
        transition: .3s;
    }
}