.anime-card{
    position:relative;
    height: 250px;
    width:200px;
    overflow:hidden;
    border-radius: 10px;
    display: block;

    &:hover &__title{
        font-size: 1.9rem;
    }
    &:hover &__image{
       transform: scale(103%); //me da problemas con el gradient en el elemento padre
    }
    &__link{
        height: 100%;
        width: 100%;
    }

    &__image{
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform .3s;
    }
    &__gradient{
        background: linear-gradient(to top,rgba(0,0,0,.8),rgba(0,0,0,.1));
        position:absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
    }

    &__rating{
        position: absolute;
        top:15px;
        right: 15px;
    }

    &__title{
        color:white;
        font-size: 1.8rem;
        position:absolute;
        bottom:0px;
        padding:10px;
        overflow: hidden;
        transition: .3s;
    }
}
