@use '../../../Sass/media-queries' as *;

.noticia-item-community {
    border: 1px solid #CB33B3;
    border-radius: 12px;
    background: #0F1023;
    overflow: hidden;
    cursor: pointer;

    @include tablet {
        max-width: 40%;
    }

    .noticia-item-img {  
        height: 100%;
        img {
            object-fit: cover;
            width: 100%;
        }
    }

    .noticia-item-description {
        padding: 2rem 1.2rem;
        display: flex;
        flex-flow: column nowrap;
        row-gap: 19px;

        &__date {
            font-size: 1.3rem;
            font-weight: 300;
        }

        &__title {
            font-weight: 600;
            font-size: 1.7rem;
        }

        &__subtitle {
            font-size: 1.5rem;
        }

        &__author {
            color: #CB33B3;
            font-size: 1.5rem;
        }
    }
}