@forward 'searchInput';
@forward 'formInput';
@forward 'BackToTop';
@forward 'buttonSubmit';
@forward 'inputSelect';
@forward 'profileMenu';
@forward 'button';
@forward 'starRating';
@forward 'profileMenu';
@forward 'playButton';
@forward 'carouselArrow';
@forward 'heroCarousel';
@forward 'mangaCover';
@forward 'profilePic';
@forward 'profileCard';
@forward 'profileListsItem';
@forward 'profileStatusListThumbnail';
@forward 'likesCounter';
@forward 'starSlider';
@forward 'noticiaItemCommunity';
@forward 'posterCardCommunity'