.search-form {
  background-color: rgb(235, 227, 227);
  height: fit-content;
  padding: 5px 10px;
  border-radius: 20px;

  .search-form__input {
    background-color: transparent;
    border: none;
    outline: none;
  }

}