@use '../../../Sass/variables' as *;

.trailer {
    border: 1px solid $contrast-pink;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    min-width: 200px;
    height: max-content;
    background: linear-gradient(135deg, rgba($white, .2) 0%, rgba($black, .5) 100%);

    &__button-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;

        & .play-button {
            transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        &:hover .play-button {
            transform: scale(1.2);
        }
    }

    &__image-container {
        cursor: pointer;
        display: grid;
        place-items: center;
        max-height: 90%;
        position: relative;
        width: 100%;
        overflow: hidden;
        border-radius: 5px;
    }

    &__image {
        height: 100%;
        width: 100%;

        &--gradient {
            background-color: rgba(0, 0, 0, .3);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__title-container {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        & div {
            flex-grow: 1;
            flex-shrink: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

    }

    &__title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .bookmark-icon {
        cursor: pointer;
        flex-grow: 0;
        flex-shrink: 0;
        height: 20px;
        width: 20px;
        flex-basis: 20px;
        margin-top: 2px;
    }

}