.form {
    display: flex;
    flex-flow: column nowrap;
    width: 30vw;
    margin-bottom: clamp(2rem, 10vh, 4rem);
    
    &-login {
        margin-bottom: clamp(5rem, 20vh, 15rem);
    }
    .form-title {
        font-size: 3rem;
        font-weight: 700;
    }

    .form-description {
        font-size: 2rem;
        font-weight: 400;
    }

    .form-title,
    .form-description {
        margin-bottom: clamp(1rem, .5vh, 4rem);

    }

    form {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 20px;
    }

    .button-form {
        margin-top: clamp(2rem, .5vh, 4rem);

        display: flex;
        justify-content: center;
        column-gap: 5px;
        font-weight: 500;

        a {
            color: #fff;
            font-weight: 300;
        }
    }
}
.form-search form{
    display: flex;
    flex-direction: row;
}