@use '../../../Sass/media-queries' as *;

.catalog-search {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: 49px;
    
    @include tablet {
        flex-wrap: wrap;
    }

    @include mobile {
        column-gap: 0;
    }

    &_container_input,
    &_container_select {
        background-color: #DDDBE9;
        border-radius: 8px;
        color: #8683A3;
        padding: 10px 14px;
        display: flex;
        align-items: center;
        column-gap: 8px;

        input,
        select {
            width: 100%;
            background-color: transparent;
            border: none;
            outline: none;
        }
    }

    &_container_input {
        width: 310px;
        box-shadow: 0px 0.33885px 5.1027px 0px rgba(227, 176, 234, 0.02), 0px 0.7699px 11.59373px 0px rgba(227, 176, 234, 0.02), 0px 17px 256px 0px rgba(227, 176, 234, 0.50);
    }

    &_container_select {
        width: 200px;
        box-shadow:  0px 0.33885px 5.1027px 0px rgba(227, 176, 234, 0.02), 0px 0.7699px 11.59373px 0px rgba(227, 176, 234, 0.02), 0px 17px 256px 0px rgba(227, 176, 234, 0.50);
    }

    &_button-filters {
        display: none;

        @include tablet {
            display: block;
        }
    }

    &_button-filters,
    &_button-submit {
        width: 4rem;
        height: 4rem;
        color: #CB33B3;
        background-color: #13142D;
        border-radius: 8px;
        border: 1px solid #CB33B3;
        cursor: pointer;
        transition: .3s all ease;

        &:hover {
            background-color: transparent;
        }
    }

    .filters,
    .isActive {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
    }

    .filters {
        @include tablet {
            display: none;
        }
    }
}