.profile-icon-container {
  position: relative;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  background-color: rgba(19, 20, 45, .5);
  border-radius: 50%;

  .profile-icon {
    color: rgb(203, 51, 179);
    width: 2.6rem;
    height: 2.6rem;
  }
}
