@use '../../../Sass/variables' as *;
@use '../../../Sass/media-queries' as *;

.item-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 370px;
  width: clamp(1000px, 70%, 1400px);
  gap: 1rem;

  @include tablet {
    width: 90vw;
    height: 30vh;
    align-items: flex-start;
  }

  .cover {
    height: 100%;
    min-width: fit-content;

    @include tablet {
      height: 80%;
    }
  }

  &__rigth-section {
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
      height: 100%;
    }

    .item-detail__upper {
      display: flex;
      justify-content: space-between;
      gap: 4rem;
      align-items: center;
      height: 50%;

      @include tablet {
        flex-direction: column-reverse;
        gap: 1.5rem;
        height: 70%;
      }

      .item-detail__header {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .item-detail__short-info {
          display: flex;
          gap: 2rem;
        }

        select {
          border-radius: 8px;
        }

        .item-detail__buttons {
          display: flex;
          gap: 4rem;
          align-items: center;
        }
      }

      .item-detail__trailer {
        position: relative;
        height: 90%;
        min-width: fit-content;
        aspect-ratio: 2 / 1.3;
        overflow: hidden;
        border-radius: 8px;

        @include tablet {
          height: 150px;
          width: 150px;
        }

        &::before {
          position: absolute;
          z-index: 2;
          content: "";
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: #44103869;
        }

        .item-detail__trailer-img {
          position: relative;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 0 20%;

        }

        .play-button {
          position: absolute;
          z-index: 5;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

          &:hover,
          &:focus {
            // transform: translateX(-50%) translateY(-50%);
            transform: scale(1.2) translateX(-40%) translateY(-40%);
          }
        }
      }
    }
  }

  .item-detail__synopsis {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: clamp(calc(1.84rem * 5), 50%, calc(1.84rem * 7));
    overflow: scroll;
  }
}

.addToList-form {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border: 1px solid $white;
  border-radius: 8px;
  background-color: rgba($dark-purple, .7);

  select {
    border-radius: 8px;
    text-align: center;
  }

  &__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}