@use '../../../Sass/variables' as *;
@use '../../../Sass/media-queries' as *;

.header-Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  width: 100%;
  height: 88px;
  background-color: rgba($dark-purple, .3);
  position: fixed;
  top: 0;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 0 40px;
  z-index: 10;
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &:hover {
  background-color: rgba($dark-purple, .5);
  }

  @include tablet {
    gap: 0;
  }

  .header__title a {
    color: $white;
    font-size: 2rem;
    font-weight: bold;
  }

  .header__rigth {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .button_navbar-options {
    display: none;
    cursor: pointer;
    color: $white;

    svg {
      width: 2rem;
      height: 2rem;
      object-fit: cover;
    }

    @include tablet {
      display: block;
    }
  }

  .navbar-options {
    position: relative;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      flex-direction: row-reverse;
      justify-content: flex-start;
      gap: 10px;
    }
  }
}