@forward 'profileIcon';
@forward 'navbar';
@forward 'inputFile';
@forward 'inputBirthDate';
@forward 'heroHomeInfo';
@forward 'animeCard';
@forward 'section';
@forward 'noticiaCard';
@forward 'trailerCard';
@forward 'carousel';
@forward 'homeBottomBanner';
@forward 'reviewCard';
@forward 'profileList';
@forward 'profileReviewItem';
@forward 'heroCommunityInfo';
@forward 'sliderCommunityInfinite';
