@use '../../../Sass/variables' as *;

.session-panel {
  position: absolute;
  right: 0px;
  top: 45px;
  background-color: rgba($dark-blue, .7);
  padding: 10px;
  border-radius: 8px;
  width: max-content;

  .session-panel__list {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .session-panel__item {
      display: grid;
      text-align: center;

      a, button {
        padding: 7px 14px;
        color: $white;
        cursor: pointer;
      }

      &:hover,
      &:focus {
        background-color: rgba($contrast-pink, .3);
        outline: 1px solid $contrast-pink;
        border-radius: 8px;
      }
    }
  }
}