@use 'variables' as *;

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100%;
  font-size: 1.6rem;
  background-color: $dark-blue;
  color: $white;
  
  #root {
    height: 100%;
    width: 100%;
    display: grid;
    
  }
}


* {
  font-family: 'Lato', sans-serif;
}