.input-select {
    color: #CB33B3;
    padding: 10px 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #CB33B3;
    background: #171542;
    box-shadow: 0px 0.33885px 5.1027px 0px rgba(227, 176, 234, 0.02), 0px 0.7699px 11.59373px 0px rgba(227, 176, 234, 0.02), 0px 1.33997px 20.17837px 0px rgba(227, 176, 234, 0.03), 0px 2.12866px 32.05517px 0px rgba(227, 176, 234, 0.04), 0px 3.28437px 49.45875px 0px rgba(227, 176, 234, 0.04), 0px 5.125px 77.17651px 0px rgba(227, 176, 234, 0.05), 0px 8.5083px 128.125px 0px rgba(227, 176, 234, 0.05), 0px 17px 256px 0px rgba(227, 176, 234, 0.07);
}

.select-Día {
    width: 80%;
}